<div class="ui three column grid">
  <div class="column">

    <div class="ui segment">

      <!-- header -->
      <h3>Ubah Password</h3>
      <div id="divContent" class="ui divider"></div>

      <!-- form verifikasi -->
      <form id="formUbahPass" class="ui form" (ngSubmit)="ubahPassword()">

        <!-- password lama -->
        <div class="field">
          <label>Password Lama</label>
          <input type="password" placeholder="Password" [(ngModel)]="passwordLama" name="passwordLama" autocomplete="off">
        </div>

        <!-- password baru -->
        <div class="field">
          <label>Password Baru</label>
          <input type="password" placeholder="Password" [(ngModel)]="passwordBaru" name="passwordBaru" autocomplete="off">
        </div>

        <!-- password lama -->
        <div class="field">
          <label>Ulangi Password Baru</label>
          <input type="password" placeholder="Password" [(ngModel)]="verifikasi" name="verifikasi" autocomplete="off">
        </div>

        <!-- validasi salah -->
      	<div class="ui inverted red segment" id="valUbahGagal" [hidden]="showValGagalUbah">
          <h4><i class="warning circle icon"></i>{{errorUbah}}</h4>
     	 </div>

      	<!-- validasi berhasil -->
      	<div class="ui inverted green segment" id="valUbahBerhasil" [hidden]="showValBerhasilUbah">
          <h4><i class="info circle icon"></i>{{berhasilUbah}}</h4>
      	</div>

        <!-- submit -->
        <button class="ui blue button">Ubah Password</button>
      </form>

    </div>
  </div>
</div>